**Start with load the dataset and the libraries**

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('/content/supermarket.csv')

df.head()
df.info()
df.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Sales                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

<bound method NDFrame.describe of       Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428   Alex     Yangon        Member  Female
1    226-31-3081   Giza  Naypyitaw        Normal  Female
2    631-41-3108   Alex     Yangon        Normal  Female
3    123-19-1176   Alex     Yangon        Member  Female
4    373-73-7910   Alex     Yangon        Member  Female
..           ...    ...        ...           ...     ...
995  233-67-5758   Giza  Naypyitaw        Normal    Male
996  303-96-2227  Cairo   Mandalay        Normal  Female
997  727-02-1313   Alex     Yangon        Member    Male
998  347-56-2442   Alex     Yangon        Normal    Male
999  849-09-3807   Alex     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Sales  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date         Time      Payment    cogs  gross margin percentage  \
0     1/5/2019   1:08:00 PM      Ewallet  522.83                 4.761905
1     3/8/2019  10:29:00 AM         Cash   76.40                 4.761905
2     3/3/2019   1:23:00 PM  Credit card  324.31                 4.761905
3    1/27/2019   8:33:00 PM      Ewallet  465.76                 4.761905
4     2/8/2019  10:37:00 AM      Ewallet  604.17                 4.761905
..         ...          ...          ...     ...                      ...
995  1/29/2019   1:46:00 PM      Ewallet   40.35                 4.761905
996   3/2/2019   5:16:00 PM      Ewallet  973.80                 4.761905
997   2/9/2019   1:22:00 PM         Cash   31.84                 4.761905
998  2/22/2019   3:33:00 PM         Cash   65.82                 4.761905
999  2/18/2019   1:28:00 PM         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]>

The Date column was converted from string format to datetime to allow time-based analysis.

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Sales                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 132.9+ KB

In [6]:
numeric_cols = ['gross income', 'Unit price', 'Quantity']
for col in numeric_cols:
  df[col] = pd.to_numeric(df[col], errors = 'coerce')

In [7]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Sales                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [8]:
df.fillna(0, inplace=True)

Missing numerical values were handled by replacing them with zero to maintain dataset integrity.

In [9]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.drop_duplicates(inplace=True)